<div class='container login'>
  <small class='buy'>BUYING</small>
  <h1><%= "#{@quote.company_name} (#{@quote.symbol})" %></h1>
  <hr>
  <table>
    <tr>
      <td>Symbol</td>
      <td><%= @quote.symbol %></td>
    </tr>

    <tr>
      <td>Company Name</td>
      <td><%= @quote.company_name %></td>
    </tr>
    
    <tr>
      <td>Price</td>
      <td><%= @quote.cost_price %></td>
    </tr>
    
  </table>

  <div class='shares'>
    <% if @stock&.shares.present? && @stock.shares > 0 %>
    <h5>You currently own <b><%= @stock.shares %></b> 
      shares of <%= @quote.company_name %></h5>
    <% end %>
    <%= form_with :url => stocks_path, model: Stock.new, method: :post do |f| %>
      <%= f.hidden_field :symbol, :value => @quote.symbol %>
      <%= f.hidden_field :company_name, :value => @quote.company_name %>
      <%= f.hidden_field :cost_price, :value => @quote.cost_price %>
      <%= f.label :shares, 'Enter the number of shares' %><br>
      <%= f.number_field :shares, :placeholder => 'Number of shares to buy...' %>
      <%= f.submit "Buy #{@quote.company_name}", class: 'w-full btn-buy' %>
    <% end %>
  </div>

  <hr>
  
  <%= link_to 'Back to Portfolio', stocks_path %> <br>
  <%= link_to 'New Quote', new_quote_path %>
</div>
