<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Company name</th>
      <th>Shares</th>
      <th>Cost price</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.symbol %></td>
        <td><%= stock.company_name %></td>
        <td><%= stock.shares %></td>
        <td><%= stock.cost_price %></td>
        <td><%= (stock.cost_price * stock.shares).round(2) %></td>
        <td><%= link_to 'Sell', get_sellstock_path(stock.symbol) %></td>
        <td><%= link_to 'Buy', quote_path(stock.symbol) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buy Stock', new_quote_path %>
