<div>
  <h1>Quote</h1>
  <table>
    <tr>
      <td>Symbol</td>
      <td><%= @quote.symbol %></td>
    </tr>

    <tr>
      <td>Company Name</td>
      <td><%= @quote.company_name %></td>
    </tr>
    
    <tr>
      <td>Price</td>
      <td><%= @quote.cost_price %></td>
    </tr>
    
  </table>

  <h5>You currently own <b><%= @stock.shares %></b> shares of <%= @stock.company_name %></h5>
  <%= form_with :url => sell_stock_path, model: Stock.new, method: :post do |f| %>
    <%= f.hidden_field :symbol, :value => @quote.symbol %>
    <%= f.hidden_field :company_name, :value => @quote.company_name %>
    <%= f.hidden_field :cost_price, :value => @quote.cost_price %>
    <%= f.label :shares %><br>
    <%= f.number_field :shares, :placeholder => 'Number of shares...' %>
    <%= f.submit "Sell #{@quote.company_name}" %>
  <% end %>

  <%= link_to 'Back to stocks', stocks_path %> | 
  <%= link_to 'Look for new stock', new_quote_path %>
</div>
