<div class='container'>
  <h1>Admin</h1>
  <p>Welcome <%= current_user.email %></p>
  <hr>

  <ul class='submenu '>
    <li><%= link_to 'Pending', admin_pending_traders_path %></li>
    <li><%= link_to 'Create', new_admin_user_path %></li>
  </ul>

  <table>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Approved</th>
      <th>Action</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.approved? ? 'Approved' : 'Pending' %></td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user) %> | 
          <%= link_to 'Show', admin_user_path(user) %> | 
          <%= link_to 'Delete', admin_user_path(user), :method => :delete, :data => {:confirm => 'Are you sure?'} %> 
        </td>
      </tr>
    <% end %>
  </table>

</div>
